<apex:page standardController="Account" extensions="AccountAppointmentsController" >
    <link href="{!$Resource.fullCalendarCSS}" rel="stylesheet" />
    <link href="{!$Resource.fullCalendarPrintCSS}" rel="stylesheet" media="print" />
    <script src="{!$Resource.momentMin}"></script>
    <script src="{!$Resource.jqueryMin}"></script>    
    <script src="{!$Resource.fullCalendarMinJS}"></script>     
    <script>
        
        $(document).ready(function() {
           
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                events:
                [
                
                <apex:repeat value="{!events}" var="e">
                    {
                    title: "{!e.title}",
                    start: '{!e.startString}',
                    end: '{!e.endString}',
                    url: '{!e.url}',
                    allDay: {!e.allDay},
                    className: '{!e.className}'
                    },
                </apex:repeat>
                ]
            });
        });
    </script>
	<link href="{!$Resource.calendarStyle}" rel="stylesheet" />	 
	<apex:sectionHeader title="{!Account.Name} - Appointments Calendar"/>
	<apex:outputPanel id="calPanel">
		<apex:form >
			<div id="cal-options">
                
			</div>
			<div id="cal-legend">
				<ul>
					<li><span class="confirmation-pending"></span>Pending Confirmation</li>
					<li><span class="confirmation-accepted"></span>Accepted</li>
					<li><span class="confirmation-rejected"></span>Rejected</li>
				</ul>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
			<div id="calendar"></div>
		</apex:form>
	</apex:outputPanel>
</apex:page>